:root {
    --font-family: "Roboto", sans-serif;
    --second-family: "Revalia", sans-serif;
    --font-weight-base: 400;
    --font-weight-500: 500;
    --font-size-big: 48px;
    --font-size-small: 16px;
    --accent-color: #34547a;
    --small-text-color: #727272;
}

* {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}

body {
    max-width: 1920px;
    font-family: var(--font-family);
    font-weight: var(--font-weight-base);
}

/* Header */

header {
    background: #eeeff1;
    padding-top: 50px;
}

.container {
    width: 1110px;
    margin: 0 auto;
}

.navbarContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-transform: uppercase;
}

.logo {
    width: 96px;
    height: 60px;
    font-family: var(--second-family);
    font-size: var(--font-size-big);
    text-align: center;
    color: var(--accent-color);
}

.logoNav {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 31px;
    font-family: var(--font-family);
    font-size: var(--font-size-small);
    letter-spacing: 0.1em;
    color: black;
}

.logoNav> :first-child {
    font-weight: var(--font-weight-500);
    color: var(--accent-color);
}

.firstScreenContainer {
    display: flex;
    margin-top: 119px;
}

.firstScreenImg {
    display: inline-block;
    margin-right: 130px;
    margin-left: 82px;
    margin-top: 42px;
}

.firstScreenInfo {
    font-weight: var(--font-weight-500);
    font-size: var(--font-size-big);
    color: black;
    margin-top: 21px;

}

.firstScreenInfo h2 {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: var(--font-size-big);
}

.firstScreenInfo h4 {
    font-size: 16px;
    font-weight: var(--font-weight-base);
    line-height: 26px;
    color: var(--small-text-color);
    margin-top: 46px;
    margin-bottom: 52px;
}


.writeToMeBTN {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 225px;
    height: 65px;
    background: #34547a;
    font-size: var(--font-size-small);
    letter-spacing: 0.1em;
    color: white;
    margin-bottom: 146px;
    padding-top: 4px;
    padding-left: 2px;
}

.writeToMeBTN h5 {
    text-transform: uppercase;
    font-size: var(--font-size-small);
    line-height: 26px;
    line-height: 1.64062;
    letter-spacing: 0.1em;
    text-align: center;
    color: white;
}

/* Обо мне */

.about_me {
    height: 247px;
}

.about_me_container {
    width: 540px;
    height: 147px;
    margin: 100px auto;
    margin-top: 119px;
}

.about_me h2 {
    font-weight: var(--font-weight-500);
    font-size: 32px;
    text-align: center;
    color: black;
    margin-bottom: 38px;
}

.about_me h4 {
    line-height: 26px;
    text-align: center;
    font-weight: var(--font-weight-base);
    font-size: var(--font-size-small);
    color: var(--small-text-color);
}

/* NUMBERS */

.numbers {
    height: 250px;
    background-color: var(--accent-color);
    display: flex;
    align-items: center;
}

.numbers_container {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-auto-flow: row;
    gap: 30px;
}

.numbers_item {
    width: 141px;
    height: 50px;
    display: flex;
    color: #fff;
}

.project {
    margin-right: 20px;
}

.group {
    padding-top: 3px;
}

.group h5 {
    font-weight: var(--font-weight-500);
    font-size: 21px;
    margin-bottom: 5px;
}

.group h6 {
    font-weight: var(--font-weight-base);
    font-size: var(--font-size-small);
}

/* skills */

.skills {
    height: 653px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #f9f9f9;
}

.skills_container {
    width: 1150px;
    height: 450px;
    display: flex;
    flex-direction: row;
    align-items: center;

}

.skills_list {
    width: 445px;
    height: 257px;
    padding-left: 2px;
    margin-right: 150px;
}

.skills_list h2 {
    margin-top: 6px;
    margin-bottom: 43px;
    font-weight: 500;
    font-size: 32px;
}

.skills_list h4 {
    font-weight: var(--font-weight-base);
    font-size: var(--font-size-small);
    color: var(--small-text-color);
    margin-bottom: 16px;
}

.strip {
    width: 445px;
    height: 4px;
    margin-bottom: 30px;
    background: #c4c4c4;
}

.strip_in {
    width: 349px;
    height: 4px;
    background: var(--accent-color);
}

.skills_img {
    max-width: 555px;
    max-height: 450px;
}

/* video */

.video {
    height: 1032px;
    background: #eeeff1;
    text-align: center;
    padding-top: 100px;
}

.video_tittle {
    max-width: 540px;
    height: 147px;
    margin: 0 auto;
    margin-bottom: 56px;
}

.video_tittle h2 {
    font-weight: var(--font-weight-500);
    font-size: 32px;
    margin-bottom: 38px;
}

.video_tittle h4 {
    font-weight: var(--font-weight-base);
    font-size: var(--font-size-small);
    line-height: 1.64062;
    color: var(--small-text-color);
}

.video_logo {
    height: 600px;
}

/* projects */

.projects {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.projectItem {
    position: relative;
    display: inline-block;
}

.projectItem img {
    display: block;
    width: 100%;
    height: auto;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(52, 84, 122, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: opacity 1s ease;
}

.projectItem:hover .overlay {
    opacity: 1;
}

.logo-container {
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}


/* clients */


.clients {
    height: 292px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.clients .container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
    height: 150px;
}

/* form */

.leedsForm {
    height: 762px;
    background: #eeeff1;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 100px;

}

.formTittle {
    width: 540px;
    text-align: center;
}

.leedsForm h2 {
    font-weight: var(--font-weight-500);
    font-size: 32px;
    margin-bottom: 39px;
}

.leedsForm h4 {
    font-weight: var(--font-weight-base);
    font-size: var(--font-size-small);
    line-height: 1.64062;
    color: var(--small-text-color);
}

form {
    display: flex;
    flex-direction: column;
}

.inputRow {
    display: flex;
    justify-content: space-between;
    margin-top: 57px;
    margin-bottom: 20px;
}

input {
    width: 255px;
    height: 50px;
    background: white;
    border: none;
    font-weight: var(--font-weight-base);
    font-size: 14px;
    color: #5f5d5d;
    padding-left: 19.5px;
}

textarea {
    padding-top: 20px;
    width: 540px;
    height: 175px;
    background: white;
    border: none;
    font-weight: 400;
    font-size: 14px;
    color: #5f5d5d;
    padding-top: 17px;
    padding-left: 19.5px;
}

.btn {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

button {
    padding: 10px 20px;
    border: none;
    width: 190px;
    height: 55px;
    cursor: pointer;
    background: var(--accent-color);
    font-weight: 400;
    font-size: 14px;
    letter-spacing: 0.15em;
    color: wheat;
    transition: background-color 2s ease;
}

button:hover {
    background-color: blue;
}

/* footer */

footer {
    display: flex;
    background-color: var(--accent-color);
    height: 150px;
}

footer .container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    color:white;
}

.names {
    display: flex;
    flex-direction: column;
}

.names h2{
    padding-top: 7px;
    font-weight: 500;
    font-size: 21px;
    margin-bottom: 5px;
    
}
.names h4{
padding-top: 7px;
font-weight: 400;
font-size: 13px;
line-height: 1.64062;
color:white;
}

.logos {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 175px;
    height: 40px;
    margin-right: -17px; 
}


