:root {
    --font-family: "Roboto", sans-serif;
    --second-family: "Revalia", sans-serif;
    --font-weight-base: 400;
    --font-weight-500: 500;
    --font-size-big: 48px;
    --font-size-small: 16px;
    --accent-color: #34547a;
}

* {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}

body {
    max-width: 1920px;
    font-family: var(--font-family);
    font-weight: var(--font-weight-base);
}

header {
    background: #eeeff1;
    padding-top: 50px;
}

.container {
    max-width: 1110px;
    margin: 0 auto;
}

.navbarContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-transform: uppercase;
}

.logo {
    width: 96px;
    height: 60px;
    font-family: var(--second-family);
    font-size: var(--font-size-big);
    text-align: center;
    color: var(--accent-color);
}

.logoNav {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 31px;
    font-family: var(--font-family);
    font-size: var(--font-size-small);
    letter-spacing: 0.1em;
    color: black;
}

.logoNav > :first-child {
    font-weight: var(--font-weight-500);
    color: var(--accent-color);
}

.firstScreenContainer {
    display: flex;
    margin-top: 119px;
}

.firstScreenImg {
    display: inline-block;
    margin-right: 130px;
    margin-left: 82px;
    margin-top: 42px;
}

.firstScreenInfo {
    font-weight: var(--font-weight-500);
    font-size: var(--font-size-big);
    color: black;
    margin-top: 21px;

}

.firstScreenInfo h2 {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: var(--font-size-big);
}

.firstScreenInfo h4 {
    font-size: 16px;
    font-weight: var(--font-weight-base);
    line-height: 26px;
    color: #727272;
    margin-top: 46px;
    margin-bottom: 52px;
}


.writeToMeBTN {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 225px;
    height: 65px;
    background: #34547a;
    font-size: var(--font-size-small);
    letter-spacing: 0.1em;
    color: white;
    margin-bottom: 146px;
    padding-top: 4px;
    padding-left: 2px;
}
.writeToMeBTN h5 {
    text-transform: uppercase;
    font-size: 16px;
    
    line-height: 26px; 
    line-height: 1.64062;
    letter-spacing: 0.1em;
    text-align: center;
    color: #fff;
}